* {
  margin: 0;
}

ul {
  padding-inline-start: 0;
}

.title_header {
  display: flex;
  justify-content: flex-start;
  width: 500px;
  font: bold;
  font-size: 3em;
  margin-left: 50px;
}

.ul_header {
  display: flex;
  align-items: center;
  gap: 50px;
  list-style: none;
}

.link_header:hover {
  text-decoration: underline;
}

.section1 {
  margin-top: 50px;
}

.section1 p {
  display: flex;
  justify-content: center;
  color: #000;
  text-align: justify;
  font-size: 14px;
  padding: 10px;
  font-family: "Roboto", sans-serif;
  max-width: 1350px;
}

.vinicola {
  width: 300px;
  height: auto;
  max-height: 450px;
  border-radius: 20px;
  object-fit: cover;
  transition: transform 0.3s ease;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}


.vinicola:hover {
  transform: scale(1.05);
}

.conteudohistoria {
  display: flex;
  justify-content: center;
}

.historia {
  margin-right: 10px;
}

.historia1 {
  margin-left: 10px;
}